html, body {
    background-color: #e6b6f2;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    height: 100%;

}

body {
    padding: 20px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }
    img {
        max-width: 250px;
        border-radius: 15px;
    }
}

footer {
    padding: 20px;
    margin: 20px -20px -20px -20px;
    background-color: #4e3c59;
    color: white;
}