html, body {
    /* background-color: #e6b6f2; */
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    height: 100%;

}

body {
    padding: 20px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    &.blue-theme { background-color: #e3f2fd; }
    &.green-theme { background-color: #e8f5e8; }
    &.red-theme { background-color: #ffebee; }

    nav {
        padding: 20px;
        margin: -20px -20px 20px -20px;
        background-color: #363636;

        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
            /* display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px; */
        }

        li {
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
        
    }
    img {
        max-width: 250px;
        border-radius: 15px;
    }
}

footer {
    padding: 20px;
    margin: 20px -20px -20px -20px;
    background-color: #363636;
    color: white;
}