html, body {
    background-color: rgb(199, 173, 230);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

body {
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }
    img {
        max-width: 250px;
        border-radius: 15px;
    }
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}