<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Emma Schmitz</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <main>
        <h2>Introduction</h2>
        <p>Hi, I'm Emma! I'm a student at BYU-I majoring in software engineering with an emphasis in web development and design.</p>
    <ol>
        <h2>My Hobbies and Interests</h2>
        <li>Reading</li>
        <li>Knit/Crochet</li>
        <li>Games (Stardew Valley/Fields of Mistria and Minecraft, mostly)</li>
    </ol>
    </main>
</body>
</html>