<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Introduction</h2>
    <img src="/images/mypicture_small.jpg" alt="Portrait of Emma Schmitz in front of a lilac bush.">
    <p>Hi, I'm Emma! I'm a student at BYU-I majoring in software engineering with an emphasis in web development and design.</p>
<ol>
    <h2>My Hobbies and Interests</h2>
    <li>Reading</li>
    <li>Knit/Crochet</li>
    <li>Games (Stardew Valley/Fields of Mistria and Minecraft, mostly)</li>
</ol>
</main>
<%- include('partials/footer') %>