<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
<p>Welcome to Emma's Express application! I'm excited to learn more about backend development!</p>
</main>
<%- include('partials/footer') %>